$main-container-width: 1440px;
$header-width: 1440px;
$header-height: 56px;
$brand-logo-size-lg: 40px;
$brand-logo-size-md: 24px;
$icon-logo-size: 16px;
$icon-bg-color: #E2E6E9;
$brand-main-color: #1877F2;
$notif-bg-color: #EB1919;
$brand-dark-bg-color: #151D20;
$base-text-font-size: 12px;